:root {
  --text-color: radial-gradient(ellipse at top,  #eee 15%, #2fb4e1 30%, #08679f 60%);
  --background-color: rgba(0,0,0,0.7);
}

* {
  font-family: 'Bowlby One SC', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('Images/Background.jpg');
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

body::before{
  background-color: var(--background-color);
  content: '';
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: -1;
}

#game-title{
  padding: 5px 0;
  margin: 0 0 0 0;
  font-size:45px;
  letter-spacing:3px;
  text-align:center;
  background: var(--text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2{
  margin: 0 0 30px 0;
  font-size:40px;
  letter-spacing:3px;
  text-align:center;
  background: var(--text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align:center;
}

#game-board{
  width: 30vw;
  height: 30vw;
  display:flex;
  flex-wrap:wrap;
  margin: 0px auto;
}

.unselected-square:hover{
  background-color:rgba(173, 216, 230, 0.4);
  cursor:pointer;
}

.cross{
  background-image:url('Images/Skeletor.png');
  background-size:cover;
}

.circle{
  background-image:url('Images/heman.jpg');
  background-size:cover;
}

button{
  display: block;
  font-size:20px;
  font-weight:500;
  margin: 25px auto 20px auto;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: lightblue;
  border: 0px;
}

button:focus{
  outline: none;
}

button:hover:active{
  background-color: pink;
}

button:hover{
  background-color: white;
}

#game-menu{
  position: absolute;
  text-align:center;
  width: 50vw;
  top: 75px;
  border: 3px solid darkgray;
  border-radius:5px;
  background-color: rgba(20,20,20,0.95);
  left: 25%;
  padding:25px;
}

#game-menu p{
  background: var(--text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-row{
  margin:20px;
  display:flex;
  justify-content: space-around;
}

#game-menu label{
  margin: 20px 15px 20px 0;
  font-size:28px;
  display:inline-block;
  background: var(--text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#game-menu [type="text"]{
  background-color: lightblue;
  margin: 20px;
  border: 1px solid skyblue;
  border-radius: 5px;
  font-size:18px;
}

fieldset{
  border: 0px;
  display:flex;
  justify-content:center;
  margin: 30px 0 15px 0;
}

input[type=radio]{
  visibility:hidden;
}

input[type=radio]:checked + label{
  padding:5px;
  border: 2px yellow solid;
}

legend{
  font-size:28px;
  background: var(--text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-height: 800px){
  .form-row{
    margin:5px;
  }

  #game-menu label{
    margin: 5px 15px 5px 0;
  }

  #game-menu [type="text"]{
    margin: 5px;
  }

}

@media (max-width: 500px){

  body{
    background-size: auto 650px;
    }

  #game-board{
    width:60vw;
    height:60vw;
  }

  #game-title{
    padding: 80px 0 5px 0;
    margin: 0 0 0 0;
    font-size:25px;
    letter-spacing:3px;
    text-align:center;
    background: var(--text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2{
    margin: 0 0 30px 0;
    font-size:16px;
    letter-spacing:3px;
    text-align:center;
    background: var(--text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align:center;
  }

  #game-menu{
    position: absolute;
    text-align:center;
    width: 75vw;
    top: 20px;
    border: 3px solid darkgray;
    border-radius:5px;
    background-color: rgba(20,20,20,0.95);
    left: 12.5%;
    padding:10px;
  }

  #game-menu h2{
    font-size:20px;
    margin: 0px;
  }

  #game-menu label{
    font-size:16px;
    margin: 0;
  }

  .form-row{
    margin:4px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  fieldset{
    border: 0px;
    display:flex;
    flex-direction: row;
    justify-content:center;
    margin: 15px 0 15px 0;
  }

  legend{
    font-size:16px;
    background: var(--text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #radio-container{
    display:flex;
    justify-content: center;
  }

  #game-menu button{
    padding: 0 5px;
    margin: 0 auto 10px auto;
  }

  #game-menu p{
    font-size:12px;
  }
}